/* override browser default */
html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
}

button {
    margin: 5px;
}

#pixiCanvasContainer {
    max-height: 80vh;
    max-width: 100%;
    padding: 10px;
}

p {
    font-family: Lato;
}
table {
    width: 90%;
    margin: auto;
    margin-top: 25px;
}
.btn-edit {
    text-align: right;
}
h2 {
    text-align: center;
    padding-top: 20px;
}

.table-header {
    width: 90%;
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-add-row {
    background: #1b9e1b;
    color: #ffffff;
}

.button-remove-rows {
    background: red;
    color: #ffffff;
    margin-right: 5px;
}

.button-remove {
    color: red;
}

::ng-deep .mat-form-field-infix {
    width: 100% !important;
}

.form-input {
    padding-right: 5px;
}
