<mat-stepper orientation="horizontal">
     <!-- change default 'edit' icon -->
    <ng-template matStepperIcon="edit">
        <mat-icon>info</mat-icon>
    </ng-template>
    <mat-step>
        <ng-template matStepLabel>What does this application do?</ng-template>
        <ng-template matStepContent>
            <p>DME is a prototypical tool for modeling business processes and data. The goal is to automatically extract data models based on business process models. The designer tool can be used to create the business process models, which are based on an advanced type of Petri nets (as shown on the next page). Using this Petri net, different extraction rules are applied to extract the data model. The resulting data model serves as a foundation for software development by providing a representation of the system's data structure. This, in turn, enables developers to make informed decisions during the early phases of the software development life cycle, speeding up the overall development process.</p>
            <p>The <a [routerLink]="['/designer']" target="_blank">Designer</a> tool allows for the modeling of such business process models. They process models are based on an advanced type of Petri Nets.</p>
            <p>On the basis of this Petri Net, the application will <a [routerLink]="['/extractor']" target="_blank"> extract a data model </a>, following a set of rules for the extraction of the respective concepts.</p>
            <button mat-button matStepperNext>Next</button>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>What are Petri Nets?</ng-template>
        <ng-template matStepContent>
            <p>A Petri net (Carl Adam Petri in 1962, Kommunikation mit Automaten) consists of two main components: places and transitions. Places are represented by circles and can contain tokens, which are small dots that indicate the presence of a resource or a state. Transitions are represented by rectangles and define the actions or events that can occur in the system. Arcs connect places and transitions and indicate the flow of tokens between them.</p>

            <p>The behavior of a Petri net is determined by its initial marking, which is the distribution of tokens among the places at the start of the system, and the firing rule, which defines when and how transitions can fire. When a transition fires, it consumes tokens from its input places and produces tokens in its output places, which may trigger other transitions to fire.</p>

            <p>Petri nets can be used to model a wide range of systems, including business processes, software systems, and networks. They provide a graphical and intuitive way to represent complex systems, and they can be analyzed using various techniques to verify their correctness, performance, and other properties.</p>

            <p> The image below shows a Petri net model for a barber shop. The net includes a place waiting that models a waiting area where customers wait for the barber to serve them, and two places that model the barber’s status, busy or idle. The transitions model events that can occur: A firing of transition enter corresponds to a customer entering
                the waiting area of the shop. Transition serve corresponds to a customer moving to the barber’s chair for service. Transition done corresponds to the customer leaving the barber chair after receiving service, with the barber becoming idle.This modelof the barber shop permits any number of customers to enter the waiting
                room, but models the constraint that only one customer can occupy the barber chair. This net is an unbounded Petri net because the number of tokens in the waiting place can increase indefinitely.
            </p>
            <figure>
                <img src="assets/barber_shop.png">
                <figcaption>Example of a Petri Net. Adapted from Dennis, Jack B. (2011): Petri Nets. In: Encyclopedia of Parallel Computing: Springer, Boston, MA, S. 1525–1530. Online verfügbar unter https://link.springer.com/referenceworkentry/10.1007/978-0-387-09766-4_134.</figcaption>
            </figure>

            <p>
                
            </p>

            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Design or Import a Petri Net</ng-template>
      <ng-template matStepContent>
            <p>The first step is to design or import a Petri net diagram using the <a [routerLink]="['/designer']" target="_blank">Designer</a> tool provided in this application or by importing an example Petri net from a list of resources available on the internet. To design a Petri net, go to the Designer and use the tools provided to add places, transitions, and arcs. To import a Petri net, select an example from this page or press the &quot;Import&quot; button and paste the Petri net diagram from the clipboard.</p>
            <p>Prebuilt examples</p>
            <ul>
                <li>
                    <button mat-button color="primary" mat-button (click)="openPNMLModel('launch_routing.pnml')">
                        <mat-icon>open_in_browser</mat-icon> Open in Designer
                    </button>
                    <a>Launch Routing</a>
                </li>
                <li>
                    <button mat-button color="primary" mat-button (click)="openPNMLModel('recursive_inheritance.pnml')">
                        <mat-icon>open_in_browser</mat-icon> Open in Designer
                    </button>
                    <a>Recursive Inheritance</a>
                </li>
                <li>
                    <button mat-button color="primary" mat-button (click)="openPNMLModel('Project_PetriNet_Syntehsis.pnml')">
                        <mat-icon>open_in_browser</mat-icon> Open in Designer
                    </button>
                    <a href="https://github.com/irgangla/pntools/blob/master/example.pnml">Project_PetriNet_Syntehsis</a>
                </li>
                <li>
                    <button mat-button color="primary" mat-button (click)="openPNMLModel('signaling.pnml')">
                        <mat-icon>open_in_browser</mat-icon> Open in Designer
                    </button>
                    <a href="https://git.ucr.ac.cr/JEISSON.HIDALGO/concurrente21a-jeisson_hidalgo/-/blob/bec510453b1d040ccc7eedde4f40e51862ae03f2/taskc/signaling/signaling.pnml">Signaling</a>
                </li>
                <li>
                    <button mat-button color="primary" mat-button (click)="openPNMLModel('execution_paths.pnml')">
                        <mat-icon>open_in_browser</mat-icon> Open in Designer
                    </button>
                    <a href="https://git.ucr.ac.cr/JEISSON.HIDALGO/concurrente21b-jeisson_hidalgo-03/-/blob/02e300ebbd7a457a3789e7388700fe8d6ba67119/taskc/execution_paths/execution_paths.pnml">execution_paths</a></li>
                <li>
                    <button mat-button color="primary" mat-button (click)="openPNMLModel('SharedMemory-Hlpn.pnml')">
                        <mat-icon>open_in_browser</mat-icon> Open in Designer
                    </button>
                    <a href="https://www.pnml.org/version-2009/examples/SharedMemory-Hlpn.pnml">High-level Petri net [shared memory] model</a>
                </li>
            </ul>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Define Token Schemas and Roles</ng-template>
      <ng-template matStepContent>
        <p>In this step, define token schemas for each place in the Petri net. Token schemas include the name, superclasses, and attributes of the token. To define a token schema, select the place and enter a token schema name. The field for the superclass and attribute definitions will appear, allowing you to enter the token schema information. If you do not define a token schema, the place name will be used for the data model generation in Step 4.</p>
        <p>You can also define roles for each transition. A role represents a person, organization, or entity responsible for the occurrence of the transition. To define a role, select the transition and enter the name of the role in the role field. The roles will be converted into classes in the data model, and each class will be assigned the attributes "id", given that the class is not further specified by a token schema with the same name as the role.</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Execute Data Model Extraction</ng-template>
            <p>After completing the previous steps, you can extract a data model by going to the <a [routerLink]="['/extractor']" target="_blank"> data model extraction</a> page. The application will automatically generate a UML class model for you based on the Petri net model and token schemas and roles defined in Step 4.</p>

            <figure>
                <img src="assets/extractor_button.png">
                <figcaption>Click on "Data Model Extractor" in the navigation bar.</figcaption>
            </figure>

            <p>The resulting data model can be used for the early phases of software development. Congratulations! You have successfully modeled a Petri net diagram and extracted a data model from it.</p>
        <button mat-button matStepperPrevious>Back</button>
      </mat-step>
  </mat-stepper>